<p style="height: 100vh; font-size: x-large;padding: 5px;">Bienvenidos a la escuela dominguez N°:18 este es
    un instituto fundado en 1922, de gestión privada, mixto, de jornada completa y de formación laica. Es considerada
    como una institución de colectividad. Se enseñan los idiomas inglés y alemán, con carácter bilingüe, con la
    posibilidad de aplicar a certificaciones internacionales. Además, los alumnos tienen la posibilidad de obtener el
    Bachillerato Internacional (IB).

    Dominguez N°:18 ofrece servicios educativos en la modalidad de educación común en 4 niveles: jardín
    maternal, jardin de infantes, nivel primario y nivel secundario. El nivel secundario otorga el título de Bachiller
    con 2 posibles orientaciones: Ciencias Sociales & Humanidades y Ciencias Naturales. Además, el establecimiento
    suscribe al programa de Bachillerato Internacional que permite certificar el Bachillerato Internacional.</p>