<div style="background-color: green;">
    <p style="color: greenyellow;">
        {{fullName$ | async}}
        <br>
        {{email$ | async}}
    </p>
</div>

<mat-nav-list>

    <mat-list-item routerLink="home" [activated]="true" >
        <a >Inicio</a>
    </mat-list-item>

    <mat-list-item routerLink="users">
        <a>Alumnos</a>
    </mat-list-item>

    <mat-list-item routerLink="courses">
        <a>cursos</a>
    </mat-list-item>

    <mat-list-item routerLink="enrollments">
        <a>Inscripciones</a>
    </mat-list-item>

    <mat-list-item (click)="logout()">
        <a style="color: red;">cerrar sesion</a>
    </mat-list-item>

</mat-nav-list>
